.header{
        display: grid;
        height: 20vh;    
        text-align: center;
        font-size: xx-large;
        background-color:lightgray;
        font-weight: 900;
    
    }
   .container {
      display: grid;
      grid-template-columns:90px 3fr 1fr 50px;
      grid-template-rows: 1fr 1fr;
      height: 50vh;
      grid-template-areas: main main main sidebar;
      background-color: lightgray;
    }


.main {
    display: grid;
    grid-area: 2/3/1/2;
    grid-template-columns: 50px 100px 100px 50px 50px  50px ;
    grid-template-rows:10px 10px 50px 50px 50px;
   height:40vh;
   text-align: center;
    background-color:lightpink;
    grid-gap: 40px;
}

.sidebar { display: grid;
    grid-column-start:3;
    grid-column-end:4 ;
text-align: center;
font-size: x-large;


background-color:lightgreen;
}

.footer{ 
    display: grid;
    grid-template-columns: 2px 250px 250px 250px 250px 10px;
    grid-template-rows: 60px 30px;
    grid-gap: 80px;
    background-color:lightgray;
    text-align: center;
    height: 100px;
    font-weight: 700;

    
}

    .footer1{
 display: grid;
grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
grid-row-end: 2;
 background-color: bisque;
 text-align:center;
    }
    .footer2{
 display: grid;
grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
grid-row-end: 2;
 background-color: bisque;
 border-width: 5px;
 border-color: black;
text-align:center;}
   .footer3{
 display: grid;
 background-color: bisque;
 grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
grid-row-end: 2;
 border-width: 5px;
 border-color: black;
text-align:center;}
   .footer4
   {
 display: grid;
 grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
grid-row-end: 2;
 background-color: bisque;
 border-width: 5px;
 border-color: black;
text-align:center;}

.item1 {
    display:grid;
    grid-column-start: 3;
    grid-column-end:5 ;
    grid-row-start: 3;
grid-row-end: 4;
text-align: center;
background-color:bisque;
    }
    .item2 {
           display:grid;
            grid-column-start: 5;
    grid-column-end: 7;
          grid-row-start: 3;
grid-row-end: 4;
     background-color: bisque;
    }
    .item3{
           display:grid;
           grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 4;
grid-row-end: 5;
     background-color: bisque;

    }
    .main-title {
			grid-column-start: 5;
			grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 2;
		}